projects:
    project_name_1:
        repository: "git@bitbucket.org:project/project.git"
        jenkins: false
        workspace: "/var/lib/jenkins/workspace/project"
        origin_name: "origin"
        branch: "master"
        send_releases_to_dir: "/path/to/folder"
        save_releases_in_dir: "/folder/to/save/to"
    project_name_2:
        repository: "git@github.com:project/project.git"
        workspace: "/var/lib/jenkins/workspace/project"
        origin_name: "origin"
        branch: "master"
        send_releases_to_dir: "/path/to/folder"
        save_releases_in_dir: "/folder/to/save/to"

ignore:
    project_name:
        files:
            - "name of folder"
            - "name of file"

deploy_to:
    project_name_1:
        server_environment:
            server: "127.0.0.1"
            port: "22"
    project_name_2:
        prod:
            server: "example.com"
            port: "22"

pre_deploy:
    project_name:
       runner: "/usr/bin/php"
       script: "/path/to/some/script.php"

post_deploy:
    project_name:
        runner: "/usr/bin/php"
        script: "/path/to/script.php"

logging:
    log_file: "/nacatamal/logs/log"