projects:
    project_name_1:
        repository: "git@bitbucket.org:project/project.git"
        jenkins: false
        workspace: "/var/lib/jenkins/workspace/project"
        origin_name: "origin"
        branch: "master"
        send_releases_to_dir: "/folder/to/send/to"
    project_name_2:
        repository: "git@github.com:project/project.git"
        workspace: "/var/lib/jenkins/workspace/project"
        origin_name: "origin"
        branch: "master"
        send_releases_to_dir: "/folder/to/send/to"

ignore:
    project_name:
        always:
            - "name of a folder"
            - "name of a file"
        exclude:
            - "name of folder"
            - "name of a file"

deploy_to:
    project_name_1:
        server_environment:
            username: vagrant
            server: "127.0.0.1"
            port: "22"
    project_name_2:
        prod:
            username: apache
            server: "example.com"
            port: "22"

pre_deploy:
    project_name:
       runner: "/usr/bin/php"
       script: "/path/to/some/script.php"

post_deploy:
    project_name:
        runner: "/usr/bin/php"
        script: "/path/to/script.php"

#
# Defaults for Nacatamal
#
defaults:
    store_up_to: 25